 body {
    background-color: #f9fafc;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: left;
 }

 h3 {
    margin-left: 0rem;
    font-weight: 800;
    font-size: 13pt;
  }

h4 {
    display: flex;
    flex-direction: column;
    margin-left: 0rem;
    text-align: left;
    font-weight: normal;
    justify-content: space-between;
    font-size: 13pt;
}

p {
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
}

button, #hire {
    font-weight: normal;
    font-size: 15pt;
    width: 90%;
    margin: 19px;
    margin-top: 235px;
}

input, button {
    color: #f9fafc;
    background-color: #000;
    font-weight: normal;
    border-radius: 115px;
    border: none;
    height: 13pt;
    width: 90%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 13px;
}

h2 {
    padding-top: 7rem;
    font-size: 25pt;
}

.container {
    display:flex;
}

.verticalLine {
    border-left: solid #adadb9;
    display: flex;
    justify-content: flex-start;
    padding-left: 1rem;
    /* padding-right: 4rem; */
    /* margin-bottom: 3rem; */
    position: relative;
    font-size: 11pt;
    /* width: 50%; */
}

span {
    width: 50%;
    max-height: 0%;
    position: relative;
}

input, button {
    color: #f9fafc;
    background-color: #000;
    font-weight: normal;
    border-radius: 115px;
    border: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 90%;
    height: 50px;
    position: absolute;
    margin: 19px;
    font-size: 15pt;
}


@media only screen and (min-width:768px) {

    #wrapper {
        margin-left:0rem;
        margin-right:2rem;
        width: 768px;
        }
        
    h3 {
        float: left;
        margin-left: 0rem;
        font-weight: 800;
        font-size: 13pt;
        margin-top: 1rem;
      }
    
    h4 {
        display: flex;
        flex-direction: row;
        font-weight: normal;
        justify-content: space-around;
        margin-left: 45%;
        margin-right: 15px;
        font-size: 13pt;
        }

    button, #hire {
        color: #f9fafc;
        background-color: #000;
        flex-direction: row;
        font-weight: normal;
        margin: 0rem 2rem 0rem 40rem;
        font-size: 15pt;
        width: 1.5in;
         }
    
    /* input, button {
       
        font-weight: normal;
        border-radius: 115px;
        border: none;
        height: 13pt;
        width: 1in;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 13px;
    } */
    
    h2 {
        padding-top: 3rem;
        font-size: 20pt;
        /* margin-left: -6rem; */
    }
    
    .container {
        display:flex;
    }
    
    .verticalLine {
        border-left: solid #adadb9;
        display: flex;
        justify-content: flex-start;
        padding-left: 1rem;
        padding-right: 4rem;
        margin-bottom: 3rem;
        position: relative;
        font-size: 11pt;
        width: 50%;
    }
    
    span {
        width: 50%;
        max-height: 0%;
        position: relative;
    }
    
    #circle1 {
        height: 350px;
        width: 360px;
        background-color: rgba(247, 136, 167, 0.6);
        border-radius: 50%;
        opacity: 1;
        position: absolute;
        right: -50%;
        top: -8%;
    }
    
    #circle2 {
        height: 150px;
        width: 150px;
        background-color: rgba(207, 130, 213, 0.6);
        border-radius: 50%;
        opacity: 1;
        position: absolute;
        right: -73%;
        top: 19%;
    }
    
    #circle3 {
        height: 200px;
        width: 200px;
        background-color: rgba(247, 193, 162, 0.7);
        border-radius: 50%;
        opacity: 1;
        position: absolute;
        right: -73%;
        top: 65%;
    }
    
    button, .scroll {
        color: #f9fafc;
        background-color: #000;
        font-weight: normal;
        border-radius: 115px;
        border: none;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-self: center;
        width: 15%;
        height: 50px;
        position: absolute;
        margin-top: 230px;
        font-size: 15pt;
        margin-left: 40%;
    }

    /* p {
        display: flex;
        flex-direction: row;
        justify-content: center;
        } */

} */
/* Font weight: normal, 800Colors: #f9fafc#69696a#000 */



